---
http_interactions:
- request:
    method: get
    uri: https://api.na2.echosign.com/api/rest/v6/agreements/UNEXIST_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer VALID_ACESSS_TOKEN
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"INVALID_AGREEMENT_ID","message":"The Agreement ID specified
        is invalid"}'
  recorded_at: Wed, 11 Jul 2018 19:30:16 GMT
- request:
    method: put
    uri: https://api.na2.echosign.com/api/rest/v6/agreements/UNEXIST_ID/state
    body:
      encoding: UTF-8
      string: '{"state":"CANCELLED","agreementCancellationInfo":{"comment":"Some comment","notifyOthers":false}}'
    headers:
      Authorization:
      - Bearer VALID_ACESSS_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"INVALID_AGREEMENT_ID","message":"The Agreement ID specified
        is invalid"}'
  recorded_at: Wed, 11 Jul 2018 19:30:17 GMT
recorded_with: VCR 4.0.0
