---
http_interactions:
- request:
    method: post
    uri: https://api.na2.echosign.com/api/rest/v6/agreements
    body:
      encoding: UTF-8
      string: '{"fileInfos":[{"transientDocumentId":"TRANSIENT_DOCUMENT_ID"}],"name":"Document
        Title","participantSetsInfo":[{"memberInfos":[{"email":"test@jobscore.com"}],"order":1,"role":"SIGNER"}],"signatureType":"ESIGN","state":"IN_PROCESS"}'
    headers:
      Authorization:
      - Bearer VALID_ACCESS_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Etag:
      - 7D65F194A222512B57325CDB66D2E0D6.EB2A61492CC469E67C7E8B5644A1702C
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"SOME_AGREEMENT_ID"}'
  recorded_at: Thu, 24 Aug 2023 14:56:06 GMT
recorded_with: VCR 6.2.0
