---
http_interactions:
- request:
    method: get
    uri: https://api.na2.echosign.com/api/rest/v6/agreements/SOME_AGREEMENT_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer VALID_ACESSS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - VALID_ETAG_VALUE
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"SOME_AGREEMENT_ID","name":"Document Title","participantSetsInfo":[{"memberInfos":[{"email":"signer@jobscore.com","securityOption":{"authenticationMethod":"NONE"}}],"role":"SIGNER","order":1}],"senderEmail":"sender@jobscore.com","createdDate":"2018-07-10T21:43:57Z","signatureType":"ESIGN","locale":"en_US","status":"IN_PROCESS","documentVisibilityEnabled":false}'
  recorded_at: Wed, 11 Jul 2018 19:01:22 GMT
recorded_with: VCR 4.0.0
