---
http_interactions:
- request:
    method: get
    uri: https://api.na2.echosign.com/api/rest/v6/agreements/SOME_AGREEMENT_ID/documents
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer VALID_ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 97FBC9635671EF619F42EE9A722E548.4A54BEA3B2C9984B8CC06A6D5711FA2
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"documents":[{"id":"SOME_DOCUMENT_ID","name":"document.pdf","mimeType":"application/pdf","numPages":1,"createdDate":"2023-08-24T14:56:08Z"}]}'
  recorded_at: Thu, 24 Aug 2023 15:06:45 GMT
recorded_with: VCR 6.2.0
