---
http_interactions:
- request:
    method: get
    uri: https://api.na2.echosign.com/api/rest/v6/agreements/SOME_AGREEMENT_ID/signingUrls
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer VALID_ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 6603AB1BB8039648194ACA8E736B7E1.4A54BEA3B2C9984B8CC06A6D5711FA2
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"signingUrlSetInfos":[{"signingUrls":[{"email":"test@jobscore.com","esignUrl":"https://secure.na2.echosign.com/public/apiesign?pid=CBFCIBAA3AAABLblqZhAEeiJF1A6-t7B294SGh6CUIo6jqT04LkYoFeaSCNwsQuZQeAwDlhAPH8lbeY9VJWdIvlYforqvh4KnsnJhVFUV&client_id=CLIENT_ID"}]}]}'
  recorded_at: Thu, 24 Aug 2023 14:57:33 GMT
recorded_with: VCR 6.2.0
