---
http_interactions:
- request:
    method: get
    uri: https://api.na2.echosign.com/api/rest/v6/agreements/SOME_AGREEMENT_ID/documents
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer VALID_ACESSS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - SOME_ETAG_ID
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"documents":[{"id":"SOME_DOCUMENT_ID","name":"some_file.pdf","mimeType":"application/pdf","numPages":1}]}'
  recorded_at: Fri, 20 Jul 2018 16:48:34 GMT
recorded_with: VCR 4.0.0
