---
http_interactions:
- request:
    method: get
    uri: https://api.na2.echosign.com/api/rest/v6/agreements/SOME_AGREEMENT_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer VALID_ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - VALID_ETAG_VALUE
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"SOME_AGREEMENT_ID","name":"[DEMO
        USE ONLY] Document Title","type":"AGREEMENT","participantSetsInfo":[{"id":"CBJCHBCAABAAS25HO6HnpyLmhwG9EB8-p7lrQ1DCUP4z","memberInfos":[{"email":"test@jobscore.com","id":"CBJCHBCAABAAJC95866p5BBF3-TwPAGaUC3U8PldzsaC","securityOption":{"authenticationMethod":"NONE"}}],"role":"SIGNER","order":1}],"senderEmail":"sender@jobscore.com","createdDate":"2023-08-24T14:56:06Z","lastEventDate":"2023-08-24T14:58:50Z","signatureType":"ESIGN","locale":"en_US","status":"CANCELLED","documentVisibilityEnabled":false,"hasFormFieldData":false,"hasSignerIdentityReport":false,"agreementSettingsInfo":{"canEditFiles":true,"canEditElectronicSeals":true,"canEditAgreementSettings":true,"showAgreementReminderSentEvents":false,"hipaaEnabled":false,"showDocumentsViewedEvents":false},"sendType":"REGULAR_SEND","senderSigns":"NEVER","documentRetentionApplied":false}'
  recorded_at: Thu, 24 Aug 2023 14:58:54 GMT
- request:
    method: put
    uri: https://api.na2.echosign.com/api/rest/v6/agreements/SOME_AGREEMENT_ID/state
    body:
      encoding: UTF-8
      string: '{"state":"CANCELLED","agreementCancellationInfo":{"comment":"Some comment","notifyOthers":false}}'
    headers:
      Authorization:
      - Bearer VALID_ACCESS_TOKEN
      If-Match:
      - VALID_ETAG_VALUE
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"AGREEMENT_ALREADY_CANCELLED","message":"The agreement being
        modified has already been cancelled."}'
  recorded_at: Thu, 24 Aug 2023 14:58:55 GMT
recorded_with: VCR 6.2.0
