---
http_interactions:
- request:
    method: get
    uri: https://api.na2.echosign.com/api/rest/v6/agreements/SOME_AGREEMENT_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer INVALID_TOKEN
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"INVALID_ACCESS_TOKEN","message":"Access token provided is
        invalid or has expired"}'
  recorded_at: Thu, 24 Aug 2023 14:58:53 GMT
- request:
    method: put
    uri: https://api.na2.echosign.com/api/rest/v6/agreements/SOME_AGREEMENT_ID/state
    body:
      encoding: UTF-8
      string: '{"state":"CANCELLED","agreementCancellationInfo":{"comment":"Some comment","notifyOthers":false}}'
    headers:
      Authorization:
      - Bearer INVALID_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"INVALID_ACCESS_TOKEN","message":"Access token provided is
        invalid or has expired"}'
  recorded_at: Thu, 24 Aug 2023 14:58:54 GMT
recorded_with: VCR 6.2.0
