---
http_interactions:
- request:
    method: get
    uri: https://api.na2.echosign.com/api/rest/v6/agreements/SOME_AGREEMENT_ID/signingUrls
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer VALID_ACESSS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - Efcc5faf63685330a3fdbfdaf429483cce477e083
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"signingUrlSetInfos":[{"signingUrls":[{"email":"test@jobscore.com","esignUrl":"https://secure.na2.echosign.com/public/apiesign?pid=SOME_DOCUMENT_PID"}]}]}'
  recorded_at: Mon, 09 Jul 2018 19:00:18 GMT
recorded_with: VCR 4.0.0
