---
http_interactions:
- request:
    method: post
    uri: https://api.na2.echosign.com/api/rest/v6/agreements
    body:
      encoding: UTF-8
      string: '{"fileInfos":[{"transientDocumentId":"TRANSIENT_DOCUMENT_ID"}],"name":"Document
        Title","participantSetsInfo":[{"memberInfos":[{"email":"test@jobscore.com"}],"order":1,"role":"SIGNER"}],"signatureType":"ESIGN","state":"IN_PROCESS"}'
    headers:
      Authorization:
      - Bearer VALID_ACESSS_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Etag:
      - NEW_ETAG
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"NEW_AGREEMENT_ID"}'
  recorded_at: Mon, 09 Jul 2018 18:54:35 GMT
recorded_with: VCR 4.0.0
