---
http_interactions:
- request:
    method: get
    uri: https://api.na2.echosign.com/api/rest/v6/agreements/UNEXISTENT_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer VALID_ACCESS_TOKEN
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"INVALID_AGREEMENT_ID","message":"The Agreement ID specified
        is invalid"}'
  recorded_at: Thu, 24 Aug 2023 14:58:51 GMT
- request:
    method: put
    uri: https://api.na2.echosign.com/api/rest/v6/agreements/UNEXISTENT_ID/state
    body:
      encoding: UTF-8
      string: '{"state":"CANCELLED","agreementCancellationInfo":{"comment":"Some comment","notifyOthers":false}}'
    headers:
      Authorization:
      - Bearer VALID_ACCESS_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"INVALID_AGREEMENT_ID","message":"The Agreement ID specified
        is invalid"}'
  recorded_at: Thu, 24 Aug 2023 14:58:52 GMT
recorded_with: VCR 6.2.0
