---
http_interactions:
- request:
    method: get
    uri: https://api.na2.echosign.com/api/rest/v6/agreements/SOME_AGREEMENT_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer VALID_ACESSS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - VALID_ETAG_VALUE
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"SOME_AGREEMENT_ID","name":"Document Title","participantSetsInfo":[{"memberInfos":[{"email":"signer@jobscore.com","securityOption":{"authenticationMethod":"NONE"}}],"role":"SIGNER","order":1}],"senderEmail":"sender@jobscore.com","createdDate":"2018-07-10T21:43:57Z","signatureType":"ESIGN","locale":"en_US","status":"IN_PROCESS","documentVisibilityEnabled":false}'
  recorded_at: Wed, 11 Jul 2018 19:01:22 GMT
- request:
    method: put
    uri: https://api.na2.echosign.com/api/rest/v6/agreements/SOME_AGREEMENT_ID/state
    body:
      encoding: UTF-8
      string: '{"state":"CANCELLED","agreementCancellationInfo":{"comment":"Some comment","notifyOthers":false}}'
    headers:
      Authorization:
      - Bearer 3AAABLblqZhCkOiiCwsRObXeNF6EI6REia4vn2ANQfc_T6egaIusv0p5sTth_34_cR084uYX-TI-SkPSRdyZCbfPc3K_ijKiA
      If-Match:
      - E6c812975b5515244bd75b8d50ce9a86ce333e73a
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"AGREEMENT_ALREADY_CANCELLED","message":"The agreement being
        modified has already been cancelled."}'
  recorded_at: Wed, 11 Jul 2018 19:33:21 GMT
recorded_with: VCR 4.0.0
