---
http_interactions:
- request:
    method: post
    uri: https://secure.na2.echosign.com/oauth/token?client_id=CLIENT_ID&client_secret=CLIENT_SECRET&code=VALID_CODE&grant_type=authorization_code&redirect_uri=https://test.jobscore.com/adobesign/setup
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"ACCESS_TOKEN","refresh_token":"REFRESH_TOKEN","token_type":"Bearer","expires_in":3600}'
  recorded_at: Mon, 02 Jul 2018 20:59:48 GMT
recorded_with: VCR 4.0.0
