---
http_interactions:
- request:
    method: get
    uri: https://api.na2.echosign.com/api/rest/v6/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer VALID_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userInfoList":[{"email":"test@jobscore.com","company":"Jobscore","id":"USER_ID","firstName":"User","lastName":"Name","isAccountAdmin":true}],"page":{}}'
  recorded_at: Tue, 03 Jul 2018 19:17:15 GMT
recorded_with: VCR 4.0.0
