---
http_interactions:
- request:
    method: post
    uri: https://api.na2.echosign.com/api/rest/v6/webhooks
    body:
      encoding: UTF-8
      string: '{"name":"E-signatures","scope":"ACCOUNT","state":"ACTIVE","webhookSubscriptionEvents":["AGREEMENT_ALL"],"webhookUrlInfo":{"url":"https://webhook.url/adobesign"}}'
    headers:
      Authorization:
      - Bearer VALID_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Etag:
      - VALID_ETAG
      Location:
      - https://api.na2.echosign.com/api/rest/v6/webhooks/WEBHOOK_ID
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"WEBHOOK_ID"}'
  recorded_at: Fri, 20 Jul 2018 19:34:37 GMT
recorded_with: VCR 4.0.0
