---
http_interactions:
- request:
    method: get
    uri: https://api.na2.echosign.com/api/rest/v6/webhooks/WEBHOOK_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer VALID_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - VALID_ETAG
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"WEBHOOK_ID","name":"E-signatures","scope":"ACCOUNT","webhookUrlInfo":{"url":"https://webhook.url/adobesign"},"status":"ACTIVE","webhookSubscriptionEvents":["AGREEMENT_ALL"],"webhookConditionalParams":{"webhookAgreementEvents":{"includeSignedDocuments":false,"includeParticipantsInfo":false,"includeDocumentsInfo":false,"includeDetailedInfo":false}},"applicationDisplayName":"Jobscore
        Development API","applicationName":"Jobscore Dev","created":"2018-07-20T19:34:36Z","lastModified":"2018-07-20T19:34:35Z"}'
  recorded_at: Fri, 20 Jul 2018 19:51:22 GMT
- request:
    method: delete
    uri: https://api.na2.echosign.com/api/rest/v6/webhooks/WEBHOOK_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer VALID_TOKEN
      If-Match:
      - VALID_ETAG
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - VALID_ETAG_RESPONSE
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 20 Jul 2018 19:51:24 GMT
recorded_with: VCR 4.0.0
