---
http_interactions:
- request:
    method: get
    uri: https://api.na2.echosign.com/api/rest/v6/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer VALID_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userWebhookList":[{"applicationName":"Jobscore Dev","applicationDisplayName":"Jobscore
        Development API","id":"WEBHOOK_ID","lastModified":"2018-07-23T19:33:57Z","name":"Test","scope":"ACCOUNT","webhookSubscriptionEvents":["AGREEMENT_ALL"],"webhookUrlInfo":{"url":"https://webhook.url/adobesign"},"status":"ACTIVE"}],"page":{}}'
  recorded_at: Mon, 23 Jul 2018 19:40:10 GMT
recorded_with: VCR 4.0.0
