---
http_interactions:
- request:
    method: post
    uri: https://api.na2.echosign.com/api/rest/v6/webhooks
    body:
      encoding: UTF-8
      string: '{"name":"E-signatures","scope":"ACCOUNT","state":"ACTIVE","webhookSubscriptionEvents":["AGREEMENT_ALL"],"webhookUrlInfo":{"url":"https://webhook.url/adobesign"}}'
    headers:
      Authorization:
      - Bearer INVALID_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"INVALID_ACCESS_TOKEN","message":"Access token provided is
        invalid or has expired"}'
  recorded_at: Mon, 23 Jul 2018 19:50:27 GMT
recorded_with: VCR 4.0.0
