---
http_interactions:
- request:
    method: get
    uri: https://api.na2.echosign.com/api/rest/v6/webhooks/CBJCHBCAABAACELRPAve9uNaqTnfZYY-uUyxtF5aG_DJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3AAABLblqZhDDdHpao1l-dbMkMTqIREWrUSfLN0w89CoL21Ux4jrkzVaUlI4QA8o6sgGSgI82fajPYDvWn2aJtfP1i_20O23S
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - Aede23bbca5c69c0baecd8f23dc046b56ae372610
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"CBJCHBCAABAACELRPAve9uNaqTnfZYY-uUyxtF5aG_DJ","name":"E-signatures","scope":"ACCOUNT","webhookUrlInfo":{"url":"https://e7970257.ngrok.io/api/private/adobesign"},"status":"ACTIVE","webhookSubscriptionEvents":["AGREEMENT_ALL"],"webhookConditionalParams":{"webhookAgreementEvents":{"includeSignedDocuments":false,"includeParticipantsInfo":false,"includeDocumentsInfo":false,"includeDetailedInfo":false}},"applicationDisplayName":"Jobscore
        Development API","applicationName":"Jobscore Dev","created":"2018-07-20T19:34:36Z","lastModified":"2018-07-20T19:34:35Z"}'
  recorded_at: Fri, 20 Jul 2018 19:51:22 GMT
- request:
    method: delete
    uri: https://api.na2.echosign.com/api/rest/v6/webhooks/CBJCHBCAABAACELRPAve9uNaqTnfZYY-uUyxtF5aG_DJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3AAABLblqZhDDdHpao1l-dbMkMTqIREWrUSfLN0w89CoL21Ux4jrkzVaUlI4QA8o6sgGSgI82fajPYDvWn2aJtfP1i_20O23S
      If-Match:
      - Aede23bbca5c69c0baecd8f23dc046b56ae372610
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - B69901c1c5f79d124b78edfce7d14937136fe0c74
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 20 Jul 2018 19:51:24 GMT
recorded_with: VCR 4.0.0
